body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color:rgb(123, 135, 135)
  }
  h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
  color: rgb(10, 64, 21);
}

.navbar-brand{
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 1000;
    color: rgb(10, 64, 21);
}
/* Custom CSS */
.mw-100 {
    max-width: 100vw; /* Set maximum width to 100% of viewport width */
  }
  
  .mh-50 {
    max-height: 60vh; /* Set maximum height to 50% of viewport height */
  }
  
/* Style for the parent card */
.service-parent {
    background-color: #f8f9fa;
    margin-bottom: 20px;
    box-shadow:5cap;
  }
  
  /* Additional styles can be added as needed */
  #footer{
    text-align: center;
    padding: 2%;
    background-color:white;
  }
  #footer i {
    padding: 1%;
  }
  .youtube-icon i {
    color: #FF0000; /* Red for YouTube */
  }
  
  .facebook-icon i {
    color: #1877F2; /* Blue for Facebook */
  }
  
  .instagram-icon i {
    color: #E4405F; /* Pink for Instagram */
  }
  
  .telegram-icon i {
    color: #0088cc; /* Blue for Telegram */
  }
  
  .copyright {
    font-size: 0.9rem;
    padding-top: 5px;
    color:  rgb(10, 64, 21);
    font:bold;
  }